{% extends 'Home.html' %}

      {% block heading %}
        <table class='table table-striped table-hover'>
            <caption>Books Record</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Book-Name</th>
                    <th>Authors Name</th>
                    <th>Edition</th>
                    <th>Status</th>
                    <th>Edit</th>
        
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lib0013</td>
                    <td>The Catcher</td>
                    <td>J. D. Salinger</td>
                    <td>1<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0125</td>
                    <td>Daisy Jones and The Six</td>
                    <td>Taylor Reid</td>
                    <td>3<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0021</td>
                    <td>Don Quixote</td>
                    <td>Miguel Cervantes</td>
                    <td>2<sup>st</sup></td>
                    <td>Nimish Singh</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0078</td>
                    <td>Harry Potter</td>
                    <td>J. K. Rowling</td>
                    <td>4<sup>st</sup></td>
                    <td>Pratik Kumar</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0089</td>
                    <td>Normal Pepole</td>
                    <td>Sally Rooney</td>
                    <td>1<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0107</td>
                    <td>City of Girls</td>
                    <td>Elizabeth</td>
                    <td>5<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0124</td>
                    <td>The Water Dancer</td>
                    <td>Ta Nehisi</td>
                    <td>3<sup>st</sup></td>
                    <td>John Nadar</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0125</td>
                    <td>Daisy Jones and The Six</td>
                    <td>Taylor Reid</td>
                    <td>2<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0136</td>
                    <td>The Silent Paient</td>
                    <td>Alex Michaelides</td>
                    <td>2<sup>st</sup></td>
                    <td>Rohit Pawar</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0013</td>
                    <td>The Catcher</td>
                    <td>J. D. Salinger</td>
                    <td>5<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0125</td>
                    <td>Daisy Jones and The Six</td>
                    <td>Taylor Reid</td>
                    <td>3<sup>st</sup></td>
                    <td>Amit Kumar</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0021</td>
                    <td>Don Quixote</td>
                    <td>Miguel Cervantes</td>
                    <td>1<sup>st</sup></td>
                    <td>Ramesh Yadav</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0078</td>
                    <td>Harry Potter</td>
                    <td>J. K. Rowling</td>
                    <td>4<sup>st</sup></td>
                    <td>Vishal Jadhav</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0089</td>
                    <td>Normal Pepole</td>
                    <td>Sally Rooney</td>
                    <td>1<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0107</td>
                    <td>City of Girls</td>
                    <td>Elizabeth</td>
                    <td>5<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0124</td>
                    <td>The Water Dancer</td>
                    <td>Ta Nehisi</td>
                    <td>2<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0125</td>
                    <td>Daisy Jones and The Six</td>
                    <td>Taylor Reid</td>
                    <td>1<sup>st</sup></td>
                    <td>Nitin Shinde</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0136</td>
                    <td>The Silent Paient</td>
                    <td>Alex Michaelides</td>
                    <td>1<sup>st</sup></td>
                    <td>Jayesh Yadav</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0013</td>
                    <td>The Catcher</td>
                    <td>J. D. Salinger</td>
                    <td>1<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0125</td>
                    <td>Daisy Jones and The Six</td>
                    <td>Taylor Reid</td>
                    <td>2<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0021</td>
                    <td>Don Quixote</td>
                    <td>Miguel Cervantes</td>
                    <td>2<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0078</td>
                    <td>Harry Potter</td>
                    <td>J. K. Rowling</td>
                    <td>3<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0089</td>
                    <td>Normal Pepole</td>
                    <td>Sally Rooney</td>
                    <td>4<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0107</td>
                    <td>City of Girls</td>
                    <td>Elizabeth</td>
                    <td>4<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0124</td>
                    <td>The Water Dancer</td>
                    <td>Ta Nehisi</td>
                    <td>4<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0125</td>
                    <td>Daisy Jones and The Six</td>
                    <td>Taylor Reid</td>
                    <td>5<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0136</td>
                    <td>The Silent Paient</td>
                    <td>Alex Michaelides</td>
                    <td>3<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0313</td>
                    <td>Daisy Jones and The Six</td>
                    <td>Taylor Reid</td>
                    <td>1<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
                <tr>
                    <td>Lib0469</td>
                    <td>The Dutch</td>
                    <td>Ann Patchett</td>
                    <td>2<sup>st</sup></td>
                    <td>Available</td>
                    <td><a href='#'><i class="fas fa-user-edit"></i></a></td>
                </tr>
            </tbody>
        </table>
        
        {% endblock heading %}
